<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>第 7 课作业</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
  <script src="main.js"></script>
</head>

<body>
  <div class="bs-docs-header">
    <div class="container">
      <h1>大家的心里话</h1>
      <p>收集新生大学 JS 入门课程学员的心里话。</p>
    </div>
  </div>
  <div class="container">
    <div id="app">
      <div class="wrapper" v-for="(word, key) in words">
        <!-- https://cn.vuejs.org/v2/guide/conditional.html#在-lt-template-gt-中配合-v-if-条件渲染一整组 -->
        <template v-if="key % 2 == 0">
          <div class="col-md-12 left">
            <div class="col-md-5">
              <h3 class="col-md-6 col-md-offset-6" v-bind:title=word.name> {{ word.name}} </h3>
              <p class="col-md-12"> {{ word.words}} </p>
            </div>
            <div class="img-wrapper col-md-2">
              <img class="avatar center-block" :src=word.avatar alt="" align="right">
            </div>
          </div>
        </template>
        <template v-else>
          <div class="col-md-12 right">
            <!-- https://stackoverflow.com/a/3791929/2667665
            添加一个指定宽高的 div 父元素
            子元素 img 即使无法显示也依然保留其位置 -->
            <div class="img-wrapper col-md-2 col-md-offset-5">
              <!-- https://stackoverflow.com/a/20396826/2667665
              center-block 这个 bs 自带的类可让图片居中 -->
              <img class="avatar center-block" :src=word.avatar alt="">
            </div>
            <div class="col-md-5">
              <h3 class="col-md-6" v-bind:title=word.name> {{ word.name}} </h3>
              <div class="col-md-6"></div>
              <p class="col-md-12"> {{ word.words}} </p>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</body>

</html>