<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="UTF-8">
  <title>第 7 课作业</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="./public/style.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
</head>

<body>
  <div class="bs-docs-header">
    <div class="container">
      <h1>大家的心里话</h1>
      <p>收集新生大学 JS 入门课程学员的心里话。</p>
    </div>
  </div>
  <div class="container">
    <div id="app">
      <div class="wrapper" v-for="(word, key) in words">
        <!-- https://cn.vuejs.org/v2/guide/conditional.html#在-lt-template-gt-中配合-v-if-条件渲染一整组 -->
        <template v-if="key % 2 == 0">
          <div class="col-md-12 left">
            <div class="col-md-5">
              <h3 class="col-md-6 col-md-offset-6" v-bind:title=word.name> {{ word.name}} </h3>
              <p class="col-md-12"> {{ word.words}} </p>
            </div>
            <img class="avatar col-md-2" :src=word.avatar alt="" align="right">
          </div>
        </template>
        <template v-else>
          <div class="col-md-12 right">
            <img class="avatar col-md-2 col-md-offset-5" :src=word.avatar alt="">
            <div class="col-md-5">
              <h3 class="col-md-6" v-bind:title=word.name> {{ word.name}} </h3>
              <div class="col-md-6"></div>
              <p class="col-md-12"> {{ word.words}} </p>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>

  <script>
    var result;

    $.ajax({
      url: "https://raw.githubusercontent.com/Dream4ever/JavaScript/master/content.json",
      success: function (data, status) {
        result = JSON.parse(data);

        var vm = new Vue({
          el: '#app',
          data: {
            words: result
          }
        });

        Vue.component('left-word', {
          props: ['word'],
          template:
          '<h3 class="col-md-3 col-md-offset-6"> {{ word.name}} </h3><img class="avatar col-md-3" :src=word.avatar><p class="col-md-12"> {{ word.words}} </p>'
        });

        Vue.component('right-word', {
          props: ['word'],
          template:
          '<img class="avatar col-md-3" :src=word.avatar><h3 class="col-md-3"> {{ word.name}} </h3><p class="col-md-12"> {{ word.words}} </p>'
        });
      }
    });


    // var url = 'https://js.xinshengdaxue.com/api/v1/learnJS/course/1/detail';

    // $.get(url, function (data) {
    //   console.log(data);
    // });
  </script>
</body>

</html>