#app {
    width: 100%;
    height: 100%;
    background: url() no-repeat;
    background-size: cover;
    box-sizing: border-box;
    animation: image_blur 4s;
}


/* https://stackoverflow.com/a/15409944/2667665 */

@keyframes image_blur {
    0% {
        -webkit-filter: blur(6px);
    }
    50% {
        -webkit-filter: blur(3px);
    }
    100% {
        -webkit-filter: blur(0px);
    }
}