.navbar {
    margin-bottom: 0;
}

.navbar-brand>img {
    width: 20px;
    /* height: 24px; */
}

.header {
    padding: 40px 0 70px;
    /* 后面尝试采用medium的方法，先加载一张模糊但是尺寸很小的缩略图，然后再加载原图
       https://jmperezperez.com/medium-image-progressive-loading-placeholder/ */
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.header h1 {
    color: #fff;
    line-height: 2em;
}

.header img {
    width: 40px;
    border-radius: 18px;
    vertical-align: top;
    margin: 0 20px 0 0;
}

.teacher {
    display: inline-block;
}

.teacher a,
.teacher p {
    margin: 0 0 3px;
    color: #fff;
}

.main {
    padding-top: 40px;
}

.col-md-8 .panel-default {
    border-color: #BDDAF6;
}

.col-md-8 .panel-default>.panel-heading {
    color: #fff;
    background-color: #479fea;
}

.btn-primary {
    background-color: #479fea;
    border-style: none;
}

.milestone h3 {
    text-align: center;
}

.milestone p {
    text-align: center;
    margin: 10px 0;
}

.carousel {
    box-shadow: #479fea 0 0 5px;
    margin-top: 10px;
}

.carousel-caption {
    text-shadow: 0 0 5px rgba(0, 0, 0, .9);
}

.carousel-control {
    background-image: none !important;
    color: #007ae2;
}

.carousel-indicators {
    bottom: 0;
}

.carousel-indicators>li {
    border: 2px solid #007ae2;
}

.carousel-indicators>.active {
    background-color: #007ae2;
}

h3.panel-title {
    line-height: 2em;
}

.form-group label {
    height: 30px;
}

.user-content label {
    display: block;
}

.user-content textarea {
    width: 100%;
}

.articles-list {
    padding-left: 20px;
}

.articles-list>li {
    line-height: 2.5em;
}

.to-do-list {
    margin: 0;
    padding-left: 17px;
}

.to-do {
    padding: 10px 0;
    margin: 0;
}