.navbar {
    margin-bottom: 0;
}

.navbar-brand > img {
    width: 20px;
    /* height: 24px; */
}

.header {
    padding: 40px 0 70px;
    /* 后面尝试采用medium的方法，先加载一张模糊但是尺寸很小的缩略图，然后再加载原图
       https://jmperezperez.com/medium-image-progressive-loading-placeholder/ */
    background: url("../images/bg.png") no-repeat;
    background-size: 100%;
    box-sizing: border-box;
}

.header h1 {
    color: #fff;
    line-height: 2em;
}

.header img {
    width: 40px;
    border-radius: 18px;
    vertical-align: top;
    margin: 0 20px 0 0;
}

.teacher {
    display: inline-block;
}

.teacher a, .teacher p {
    margin: 0 0 3px;
    color: #fff;
}

.main {
    padding-top: 40px;
}

.say-to-you h3, articles h3 {
    line-height: 2em;
}

.form-group label {
    height: 30px;
}

.user-content label {
    display: block;
}

.user-content textarea {
    width: 100%;
}

.articles-list {
    padding-left: 10px;
}