.bs-docs-header {
  background-color: #6f5499;
  
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 24px;
  text-align: left;

  color: #cdbfe3;
}

.bs-docs-header h1 {
  font-size: 60px;
  line-height: 1;
  color: #fff;
}

li {
  list-style: none;
}

.avatar {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
}